@model List<SimpleECA.Models.ProductViewModel>
    <div class="bannerCarousel">
        <div class="box"><img src="https://picsum.photos/1200/400?random=1" /></div>
        <div class="box"><img src="https://picsum.photos/1200/400?random=2" /></div>
        <div class="box"><img src="https://picsum.photos/1200/400?random=3" /></div>
        <div class="box"><img src="https://picsum.photos/1200/400?random=4" /></div>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xs-12 col-sm-12 col-md-3">
                    <div class="card">
                        <div class="card-header position-relative">
                            <div class="productCarousel">
                                @foreach (var img in item.ProductImages)
                                {
                                    <div class="box"><img class="card-img-top" src="data:image/jpg;base64,@(img.imageurl)" alt="@img.imagename"></div>
                                }
                            </div>
                            <div class="card-img-overlay d-flex justify-content-end">
                                <a href="#" onclick="ProductAddtoWishList(@(item.productid))" class="card-link text-danger like">
                                    <i class="fa fa-heart"></i>
                                </a>
                            </div>
                        </div>
                        <div class="card-body" onclick="openadminpartial('@Url.Action("GetProductById","Product",new { productId = item.productid})',750)">
                            <h6 class="card-title">@item.productname</h6>
                            <h6 class="card-subtitle mb-2 text-muted">@item.brandName</h6>
                            <p class="card-text small">
                                @item.shortdescription
                            </p>
                            <div class="buy d-flex justify-content-between align-items-center small">
                                <div class="price text-success">
                                    <strong><span class="pr-2">₹@(item.price - ((item.discount / 100) * item.price))</span> <span class="pr-2"><del class="pr-2"><i>₹@item.price</i></del></span><span class="pr-2">@(item.discount)% Off</span></strong>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <button onclick="ProductAddtoCart(@(item.productid))" class="btn btn-danger mt-1"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
                                <div class="flex-grow-1"></div>
                                <button class="btn btn-info mt-1"><i class="fa fa-shopping-cart"></i> Buy Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
    <style>
        .card {
            height: 350px;
        }

        .productCarousel .slick-slide img {
            height: 100px;
            object-fit: contain;
        }
        .bannerCarousel .slick-slide img {
            height: 400px;
            width: 100%;
            object-fit: cover;
        }
        .card-footer .btn{
            font-size:10px;
        }
    </style>

    <script>
        $(document).ready(function () {
            $('.productCarousel').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                arrows: false,
                dots: false,
                autoplay: true,
                autoplaySpeed: 1500,
                pauseOnHover: true,
                responsive: [{
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 1,
                        speed: 500,
                        fade: true,
                        cssEase: 'linear'
                    }
                }, {
                    breakpoint: 520,
                    settings: {
                        slidesToShow: 1,
                        speed: 500,
                        fade: true,
                        cssEase: 'linear'
                    }
                }]
            });
        })
    </script>